[2014-10-22 11:27] hsin421 opened #2 "I'd like to host another Nodeschoo/NYC"
Is anyone with me? I'm fairly new to Node so this is the way I want to learn with everybody.

[NYCDA](http://nycda.com) will sponsor the event, providing classroom space and equipments.

I am updating Node 101/NYC event on 12/13 (Sat) under the nodeschool.io event page.

[2015-08-10 04:09] gautamarora opened #3 "NodeSchool NYC on August 26th"
Hi,
The next Node School is happening on August 26th at Conde Nast.
http://www.meetup.com/NY-JavaScript/events/224372197/

Would be great to add it on the readme in the "upcoming events" section.

Thanks,
Gautam

[2015-08-10 04:36] gautamarora opened #4 "Regular nodeschool sessions"
Wanted to share a quick update on the recent nodeschool nyc events, and get the conversations started here again.

@acingraham & jovena whatmoor have been organizing nodeschool regularly as part of the ny javascript meetup, & i'll be joining them as a co-organizer of the meetup.
http://www.meetup.com/NY-JavaScript/

We've secured a venue (Conde Nast, 222 Broadway) to host nodeschool for the rest o

[2015-08-16 15:57] gautamarora opened #5 "Create a nodeschool nyc site"
Lets get a site at nodeschoo.io/nyc.
It will require us to create a new gh-pages branch on this repo with the site code.

We could use the [nodeschool london website](http://nodeschool.io/london/) as a starting point.

[2015-08-16 15:58] gautamarora opened #6 "Add new members to chapter team"
Please add @acingraham and me to the nyc chapter team.

This would allow us to contribute by editing the README (to add upcoming events) and create a new gh-pages branch for the nyc nodeschool site ([#5](https://github.com/nodeschool/nyc/issues/5))

[2015-08-16 22:08] hackygolucky commented on #6
@acingraham @gautamarora Done! Look for invites possibly buried deep within the recesses of your inbox.

[2015-08-16 22:08] #6 closed

[2015-08-16 22:12] hackygolucky commented on #4
I would love to help take part in this. I've enjoyed running nodeschool events in the past http://hackygolucky.com/2014/03/02/pdxnode-presents-nodeschool/ and would love to bring this energy to the NYC events. Let me know how I can help!

I'd recommend trying to get other Node meetups in the city and maybe organizers/attendees/local speakers from EmpireNode(I can help with this since I am one of t

[2015-08-16 22:17] acingraham commented on #6
Thanks Tracy and Gautam!

On Sun, Aug 16, 2015 at 6:08 PM, Tracy <notifications@github.com> wrote:

[2015-09-02 00:54] #3 closed

[2015-09-02 00:57] gautamarora commented on #4
@hackygolucky we'd love to have you join us as a mentor for the next nodeschool on 09/24. You can sign up over here: http://www.meetup.com/NY-JavaScript/events/224933312/

[2015-09-02 01:01] gautamarora opened #7 "Create a nodeschool nyc logo"
A popular request at the nodeschool events have been nodeschool nyc stickers, and the first step in that direction would be to finalize a logo.

[2015-09-02 01:10] #4 closed

[2015-09-02 01:11] gautamarora commented on #2
@hackygolucky could you close this issue as its probably served its purpose for that event.

[2015-09-02 01:12] RBazelais commented on #2
Will do

On Tuesday, September 1, 2015, Gautam Arora <notifications@github.com>
wrote:

--
Best,
Rachel Bazelais
Host | Game Designer | Web Developer
Games, Seriously. Podcast <http://GamesSeriously.com>
Telephone #: (646)-496-6441
E-mail: Bazelais.rachel@gmail.com

[2015-09-02 03:03] gautamarora commented on #5
NodeSchool NYC website is live at: http://nodeschool.io/nyc/
We can continue to iterate, this is just a start :)

[2015-09-02 04:03] gautamarora opened #9 "Update Readme for upcoming events"
I've updated the readme with info on upcoming events, created a new "past events" page to share details on all the past nodeschools and submitted a PR for it. https://github.com/nodeschool/nyc/pull/8

@acingraham @hackygolucky would you like to review PRs or are ok with me merging to master?

[2015-09-02 04:05] gautamarora commented on #5
Closing this. Issues or Comments can be submitted as a new issue.

[2015-09-02 04:05] #5 closed

[2015-09-02 04:05] gautamarora commented on #2
Closing.

[2015-09-02 04:05] #2 closed

[2015-09-02 04:23] acingraham commented on #9
I'm certainly okay with you merging to master

On Wed, Sep 2, 2015 at 12:03 AM, Gautam Arora <notifications@github.com>
wrote:

[2015-09-02 04:35] gautamarora opened #10 "Update chapter json"
I've submitted a PR to update the nyc chapter json https://github.com/nodeschool/nodeschool.github.io/pull/403

Changes include:
1. Adding @acingraham and me as organizers (for any upcoming changes to nodeschool group membership changes which could refer to this chapter json)
2. Adding the new nodeschool website so users are linked to the site vs to our github repo

[2015-09-03 02:14] gautamarora commented on #9
Thanks @acingraham.

[2015-09-03 02:14] #9 closed

[2015-09-03 02:15] gautamarora commented on #10
Update was merged.

[2015-09-03 02:15] #10 closed

[2016-02-08 02:58] gautamarora opened #16 "nodeschool feb 2016 (#12)"
**Date:**

- Feb 25

**Workshops:**

1. javascripting
1. learnyounode
1. count-to-6
1. expressworks

**Tasks:**

- [x] :calendar: Set a date
- [x] :blue_book: Create meetup page
- [x] :mega: Call for mentors
- [ ] :school: :statue_of_liberty: Post event on nodeschool.io
- [ ] :speech_balloon: Post to gitter channel
- [ ] :octocat: Inform on GitHub
- [ ] :envelope: Inform about event through mail
-

[2016-02-08 02:58] gautamarora opened #17 "nodeschool may 2016"
http://nodeschool.io/international-day/

[2016-02-08 03:17] gautamarora commented on #7
Created: http://nodeschool.io/nyc/nodeschool-nyc.svg

[2016-02-08 03:17] #7 closed

[2016-02-08 04:05] gautamarora commented on #16
I will be there & have completed JS, Node, ES6, Express workshops.

[2016-02-08 04:14] gautamarora commented on #17
I've enrolled the nyc chapter for international day. Will go through the organizers tasks and make sure we are on top of what needs to be done.

[2016-02-08 14:15] mmwtsn commented on #16
I'm available to mentor and have completed the workshops listed above.

[2016-02-08 15:09] tapsboy commented on #16
I will be there

[2016-02-08 15:10] retrohacker commented on #16
I'll be there, and have completed all 4 workshops.

[2016-02-08 15:40] ChrisMLee commented on #16
I'm available to mentor and have completed all of the listed workshops

[2016-02-08 18:42] gautamarora commented on #16
@mmwtsn @tapsboy @retrohacker @ChrisMLee :+1:

[2016-02-08 20:33] evelynStraigt commented on #16
Will be available to mentor all listed workshops.  (=

[2016-02-08 21:43] stefania11 commented on #16
Will be there and available to mentor all listed workshops

[2016-02-10 03:10] gilchenzion commented on #16
Will be able to mentor all workshops

[2016-02-10 16:46] amejias101 commented on #16
Will be able to mentor all workshops as well.

[2016-02-11 18:35] michaeledavis-credera opened #18 "Nodeschool Dallas Sticker Swap"
Hi @gautamarora,

I'm one of the organizers for the [Nodeschool Dallas chapter](https://github.com/nodeschool/dallas), and I'll be in NYC this weekend + Monday.

Would you like to meet up and do a Nodeschool sticker exchange? We've organized a few swaps on the [Organizers page](https://github.com/nodeschool/organizers/issues/182), and it's been really fun. Here's what our stickers look like:
![nod

[2016-02-15 23:21] gautamarora commented on #18
Hi @michaeledavis-credera - this sounds like a great idea. I'm just seeing this message, and all the stickers are at my desk at work.

Can we exchange shipping addresses, and I can send you some NodeSchool NYC stickers via mail?

[2016-02-15 23:21] gautamarora commented on #16
@evelynStraigt @stefania11 @gilchenzion @amejias101 :+1:

[2016-02-17 17:00] michaeledavis commented on #18
Sounds great!

Shoot me your shipping address at michaeledavis at outlook.com.

[2016-02-19 13:06] cormickjbrowne commented on #16
I can mentor and I've completed all 4 workshops.

[2016-02-23 00:15] gautamarora commented on #16
wow! 10 mentors! i'm sure we are running out of capes for this one! :+1:

[2016-02-27 16:23] gautamarora commented on #16
thank you mentors! it was a great event!

[2016-02-27 16:23] #16 closed

[2016-02-27 16:27] gautamarora opened #19 "nodeschool mar 2016"
**Date:**

- Mar 17

**Event Page:**
- [Meetup](http://www.meetup.com/NY-JavaScript/events/227502760/)

**Workshops:**

1. javascripting
1. learnyounode
1. count-to-6
1. es-next-generation (featured)

**Tasks:**

- [x] :calendar: Set a date
- [x] :blue_book: Create meetup page
- [x] :mega: Call for mentors
- [ ] :school: :statue_of_liberty: Post event on nodeschool.io
- [ ] :speech_balloon: Post t

[2016-02-27 16:35] gautamarora commented on #19
Call for Mentors: @acingraham @designMoreWeb @mmwtsn @retrohacker @ChrisMLee @evelynStraigt @stefania11 @gilchenzion @amejias101@cormickjbrowne

[2016-02-27 16:35] gautamarora commented on #19
I'm available to mentor & have completed JS, Node, ES6, ES-Next-Gen workshops.

[2016-02-27 16:51] gautamarora commented on #18
co-ordinating over email. closing here.

[2016-02-27 16:51] #18 closed

[2016-02-27 16:53] gautamarora opened #20 "nodeschool apr 2016"
**Date:**
- Apr 21

**Event Page:**
- [Meetup](http://www.meetup.com/NY-JavaScript/events/227502881/)

**Workshops:**
1. javascripting
2. learnyounode
3. count-to-6
4. functional-javascript

**Tasks:**
- [x] :calendar: Set a date
- [x] :blue_book: Create meetup page
- [x] :mega: Call for mentors
- [ ] :school: :statue_of_liberty: Post event on nodeschool.io
- [ ] :speech_balloon: Post to gitter ch

[2016-02-27 16:53] gautamarora opened #21 "nodeschool jun 2016"
**Date:**
- Jun 16

**Event Page:**
- [Meetup](http://www.meetup.com/NY-JavaScript/events/227503383/)
- _RSVPs not open yet_

**Workshops:**
1. javascripting
2. learnyounode
3. count-to-6
4. stream-adventure

**Tasks:**
- [x] :calendar: Set a date
- [x] :blue_book: Create meetup page
- [ ] :mega: Call for mentors
- [ ] :school: :statue_of_liberty: Post event on nodeschool.io
- [ ] :speech_balloon:

[2016-02-27 16:56] gautamarora commented on #17
@jovena @acingraham we should start planning something bigger & better for nodeschool international day :)

[2016-02-27 18:21] gautamarora commented on #19
p.s. if you are not on the call for mentors list but are interested to mentor (at this event or in future), just message me and i will add you to the list.

[2016-02-27 18:32] gautamarora opened #22 "nodeschool contributors day"
We are thinking of hosting a nodeschool event focussed on giving back to the nodeschool community. The goal is to give students and mentors a focussed time and opportunity to:
1. create new workshops
2. submit PRs for existing workshops
3. create tools
4. translate workshops
5. design & build nodeschool nyc website
6. ...anything else

Starting this issue to figure out if this will be interesting

[2016-02-27 18:32] gautamarora commented on #22
cc @acingraham @designMoreWeb @mmwtsn @retrohacker @ChrisMLee @evelynStraigt @stefania11 @gilchenzion @amejias101 @cormickjbrowne @orangejulius @tapsboy

[2016-02-27 18:34] gautamarora commented on #22
@mmwtsn @retrohacker - would this event help to get started on the new node workshop we were talking about? feel free to add more details on the idea.

[2016-02-27 18:35] gautamarora commented on #22
cc @designMoreWeb for nodeschool-electron project. want to share details here?

[2016-02-27 18:36] gautamarora commented on #22
cc @evelynStraigt for nodeschool spanish translation project

[2016-02-28 01:38] yoshuawuyts commented on #22
This sounds like a heaps rad idea!

[2016-02-28 04:58] retrohacker commented on #22
@gautamarora yes, absolutely! Carving out some time to sit down and focus on this would 100% help.

Let's do it! If the number of people who turn out is less than or equal to 8, I would be happy to host in Riverdale.

For background:

@mmwtsn and I were talking about two workshoppers:

* javascripting the hard way - Maxwell has noticed quite a few students are "pattern matching" for solutions. Whe

[2016-02-28 08:23] ismnoiet commented on #22
This is pretty good :+1:

[2016-02-28 16:38] gilchenzion commented on #22
I'm looking into working on a learnyouredux if anyone is interested

[2016-02-28 17:58] gautamarora commented on #22
thanks @yoshuawuyts & @ismnoiet !

[2016-02-28 17:59] gautamarora commented on #22
@retrohacker @gilchenzion great ideas! I will check about hosting at conde nast as well.

[2016-02-28 23:27] ChrisMLee commented on #22
@gilchenzion I'd be down to work on a learnyouredux

[2016-02-29 04:13] acingraham commented on #22
Count me in!  I'd like to work on a cheerio/jQuery workshop.

[2016-02-29 04:18] gautamarora commented on #22
I'd be working on the [workbook](https://github.com/gautamarora/workbook), [workbook-generator](https://github.com/gautamarora/workbook-generator) & [workbook-progress-tracker](https://github.com/gautamarora/workbook-progress-tracker) toolkit.

[2016-02-29 04:20] gautamarora commented on #22
@acingraham that one is so needed! someone needs to do an angular one as well :)

[2016-02-29 04:23] acingraham commented on #22
I could work on an Angular 1.x workshop

[2016-02-29 04:25] acingraham commented on #17
Agreed!

On Sat, Feb 27, 2016 at 11:56 AM, Gautam Arora <notifications@github.com>
wrote:

[2016-02-29 13:42] Jovena commented on #22
@gautamarora LMK if Conde can't host and I'll find us another host. And, let's decide if we should collect RSVPs via Github or on an event page. Are you thinking timing of April or May so we have a bit of time to plan and get the word out?

[2016-02-29 13:44] Jovena commented on #22
@andresdom Interested in joining us?

[2016-02-29 14:44] gautamarora commented on #22
@Jovena I will keep you posted on hosting. I'm thinking of a mid-april timeline, probably a full day event vs a few hours. Continuing to use meetup for RSVPs is good, this thread is to get the event idea hashed out.

[2016-02-29 15:26] designMoreWeb commented on #22
This is excellent. I am actually very excited for this. I can work on the website. I was thinking that we atleast try to do the wire frame and design language for the website prior to the day.

[2016-02-29 16:33] evelynStraigt commented on #22
@caromedellin would be the one actually performing the translation work.

I like a lot of these ideas, I don't have anything else of my own at this time but I'd be happy to help with our existing ideas.

[2016-03-01 00:51] gautamarora commented on #22
thanks @evelynStraigt. @caromedellin would you be interested in attending this event for translating some nodeschool workshops? we're planning it for around mid-april.

[2016-03-01 17:38] evelynStraigt commented on #19
I'll be there.  (=

[2016-03-01 22:53] caromedellin commented on #22
Yes I would be interested! I come back from Mexico the first day of April,
but I will be translating remotely.

2016-02-29 19:52 GMT-05:00 Gautam Arora <notifications@github.com>:

[2016-03-01 23:03] caromedellin commented on #22
I do have one question, who would you guys prefer the naming of the files?
es/README.md and problem.es.md
Or are there any other suggestions?

[2016-03-02 04:36] gautamarora commented on #22
@caromedellin ok, this event is being planned as an in-person gathering. if you can join us on event day, that will be great as well. of course you can continue to work remotely on the translation project too. all contributions to nodeschool from our chapter are great.

Looking at the javascripting workshop, it seems the naming to follow is problem_es.md. You can see an example here: https://githu

[2016-03-02 17:46] evelynStraigt commented on #22
@caromedellin - They are not all necessarily the same so I would look into the exercises folder, see the existing format, and then copy that format.  If a repository doesn't have any existing translations, it may be worth it to open an issue on the repository and ask the owner what format they would like.

[2016-03-03 01:17] janecakemaster commented on #19
i'll be there!

[2016-03-07 20:30] janecakemaster commented on #19
actually.. how long does this event go? just realized i also have a brooklynjs ticket. i can probably do both but i'd need to know about timing

[2016-03-09 04:09] retrohacker commented on #19
Count me in!

[2016-03-09 04:12] amejias101 commented on #19
I also got a Brooklynjs ticket, probably will not be able to make it to the
meetup :|

On Tue, Mar 8, 2016 at 11:09 PM, William Blankenship <
notifications@github.com> wrote:

[2016-03-09 04:26] gautamarora commented on #19
@janecakemaster - nodeschool goes from 6:30 - 9:30

[2016-03-09 04:26] gautamarora commented on #19
@retrohacker :+1:

[2016-03-09 04:27] gautamarora commented on #19
@amejias101 have fun at brooklynjs! see you at the next nodeschool

[2016-03-12 00:01] adobley commented on #19
Do you have space for another mentor?

[2016-03-12 00:36] gilchenzion commented on #19
I'll be there

On Fri, Mar 11, 2016 at 7:01 PM, Aidan Obley <notifications@github.com>
wrote:

--
Gil Chen-Zion
Software Engineer, Oscar Insurance
Twitter <https://twitter.com/gilcz2> | LinkedIn
<https://www.linkedin.com/in/gilchenzion>

[2016-03-12 15:47] gautamarora commented on #19
@adobley - we do! Could you confirm if you have done (or could do before the event) the javascripting, learnyounode & count-to-6 workshops? Those are the core workshops at every event and we have all mentors finish them to be able to answer help answer a diverse set of wuestions from students.

[2016-03-12 15:49] gautamarora commented on #19
Correction: ...we have all mentors finish them to be able to help answer a diverse set of questions from students.

[2016-03-12 15:52] adobley commented on #19
Yes I have. I'm the founder/organizer of nodeschool philadelphia =) I just happen to be in town so I wanted to help out.

[2016-03-12 16:40] mmwtsn commented on #19
@gautamarora I can mentor this week as well. I completed javascripting, learnyounode, count-to-6, and the other generators workshop. I'll take a look at es-next-generation before the 17th!

[2016-03-13 00:01] gautamarora commented on #19
@adobley awesome! look forward to meeting you! We handle RSVP's via meetup. Can you join us at http://www.meetup.com/NY-JavaScript/ and I will add you to the event.

[2016-03-13 00:01] gautamarora commented on #19
@mmwtsn :+1:

[2016-03-13 01:56] adobley commented on #19
@gautamarora Joined up, thanks!

[2016-03-14 01:56] gautamarora commented on #19
@adobley added you to the event on meetup. See you on thursday.

[2016-03-14 18:36] ChrisMLee commented on #19
@gautamarora I'm available to mentor and have completed all of the listed workshops.

[2016-03-16 21:12] retrohacker commented on #22
Any progress on this? I'll be out of town the 13th - 24th of April :disappointed:

[2016-03-17 14:12] gautamarora commented on #19
@ChrisMLee sorry, just seeing this. Can you make it today?

[2016-03-17 16:14] ChrisMLee commented on #19
@gautamarora Yep see you there

[2016-03-20 15:27] gautamarora commented on #19
Thank you mentors! @mmwtsn @ChrisMLee @adobley. We're seeing great feedback from students on meetup!

[2016-03-20 15:27] #19 closed

[2016-03-20 15:30] gautamarora commented on #22
@retrohacker no progress yet on location and time, I will get back with some time options soon.

[2016-03-31 15:48] designMoreWeb commented on #22
@gautamarora @acingraham Is there a way i can work on the Angular workshop with you?

[2016-03-31 15:53] acingraham commented on #22
I haven't settled on working on Angular just yet, but if I do I'd be happy
to work with you!

On Thu, Mar 31, 2016 at 11:48 AM, Divy Tolia <notifications@github.com>
wrote:

[2016-04-05 04:19] gautamarora commented on #20
Call for Mentors: @acingraham @designMoreWeb @mmwtsn @retrohacker @ChrisMLee @evelynStraigt @stefania11 @gilchenzion @amejias101 @cormickjbrowne @orangejulius @tapsboy

[2016-04-05 04:49] acingraham commented on #20
Count me in!

On Tue, Apr 5, 2016 at 12:19 AM, Gautam Arora <notifications@github.com>
wrote:

[2016-04-05 14:39] mmwtsn commented on #20
I'm in!

[2016-04-05 16:37] retrohacker commented on #20
I'll be traveling for work this week :disappointed: sorry!

[2016-04-05 16:46] designMoreWeb commented on #20
IN

[2016-04-05 16:46] designMoreWeb commented on #22
Sounds good to me Andrew :)

[2016-04-05 17:05] janecakemaster commented on #20
shweet i'm in!

[2016-04-05 18:47] cormickjbrowne commented on #20
I should already be in.

On Tue, Apr 5, 2016 at 1:05 PM, Jane Cakemaster <notifications@github.com>
wrote:

[2016-04-15 18:46] gautamarora commented on #20
thanks @mmwtsn @designMoreWeb @janecakemaster @cormickjbrowne !!

[2016-04-20 17:18] gautamarora commented on #20
@ChrisMLee @orangejulius @amejias101 @stefania11 @adobley - can you make it for NodeSchool tomorrow?

[2016-04-21 03:19] amejias101 commented on #20
Sorry, I can't make it this month. I hope that you guys have fun though!

On Wed, Apr 20, 2016 at 1:18 PM, Gautam Arora <notifications@github.com>
wrote:

[2016-05-04 13:48] arjshiv opened #23 "How to join as a mentor ?"
How can I join and contribute as a mentor ? Super excited to help!

[2016-05-05 00:25] arjshiv commented on #22
@designMoreWeb I'd love to work on the angular 1.x course with you too!

[2016-05-10 23:17] gautamarora commented on #23
We are equally excited to have you join us. Lets continue the conversation in email/slack.

[2016-05-10 23:17] #23 closed

[2016-06-07 12:51] daniel-chung opened #25 "Next event out of date on website & README.md"
The next event information is out of date on the:
- [website](http://nodeschool.io/nyc/)
- [README](https://github.com/nodeschool/nyc/blob/master/README.md)

Here is the meetup link to the next event:
http://www.meetup.com/NY-JavaScript/events/227503383/

I can submit a PR for the README file, but I'm not sure where the website files are stored. Happy to help with updating the site if someone can

[2016-06-09 22:26] retrohacker commented on #21
Doing a call for mentors?

I'll be there :smile:

[2016-06-13 11:23] cormickjbrowne commented on #21
I'll mentor.

[2017-01-31 16:42] mysterycommand opened #26 "Is Nodeschool NYC dead?"
Hi, is this a dead project? I got really in to Nodeschool SF, and now that I've moved to New York would love to get this going again (looks like the last meetup was June of last year). I might be able to provide space (currently talking about logistics of that) but would be very curious to hear any insight as to why this seems to have fizzled out.

Also, anyone in here willing/interested in co-spo

[2017-01-31 20:11] hackygolucky commented on #26
@mysterycommand Howdy! NYJavaScript is helping keep it alive <3 https://www.meetup.com/NY-JavaScript/events/236674883/ @gautamarora is one of the folks doing that great work.

[2017-02-05 18:19] gautamarora commented on #26
closing this issue as it is safe to conclude that nodeschool nyc is far from dead :)

[2017-02-05 18:19] #26 closed

[2017-02-05 18:20] gautamarora commented on #25
@daniel-chung thanks, i will update this now. will be glad to receive PRs for site updates.

[2017-02-05 18:20] #17 closed

[2017-02-05 18:20] #20 closed

[2017-02-05 18:20] #21 closed

[2017-02-05 19:07] gautamarora commented on #25
@daniel-chung merged your PR and also brought the README up to date.

[2017-02-05 19:07] #25 closed

[2017-03-09 23:32] gautamarora commented on #22
This is finally happening folks!! https://github.com/nodeschool/organizers/issues/422

[2017-07-27 00:46] darcyclarke opened #27 "Still running?"
Hey there,

I'm a NodeSchool organizer from Toronto & am at #NodeSummit right now with @eaharonoff who's wondering if you are still running events(?). Looks like the last one was in February. He's saying he'd love to get involved somehow as well, I'm available to provide any kind of support if your having trouble finding sponsors/volunteers.

Hope this finds you well!

Cheers,
Darcy

[2017-07-27 03:58] gautamarora commented on #27
hey @darcyclarke & @eaharonoff - thanks for checking. We are very much alive; had taken a short break after ~2 years of regular monthly nodeschools. Infact, we had our organizers meeting today, and have put together a plan for events starting august.

Thanks so much for offering to help. We're looking good with sponsors/venue for now, but are always looking for mentors. You can join us at bit.ly/n

[2017-07-27 18:44] eaharonoff commented on #27
thanks @darcyclarke! I'll go ahead and do that...

[2017-11-29 05:15] joesepi commented on #27
Hi there. How is this planning going? I'm curious as I've been wanting to start doing regular nodeschools in NYC as well. Thanks!

[2017-11-30 17:57] gautamarora commented on #27
@joesepi - the last nodeschool we ran was on 09/14/2017. We ran it using the electron nodeschool and then had a mini hackathon + demo session at the end. Pics from the event are here: https://twitter.com/gautam/status/908513585948741633

We've been moving office buildings, so that had put the last few months on hold from a venue pov. We tried seeing if we could move to @eaharonoff's office, but th

[2017-11-30 19:17] joesepi commented on #27
@gautamarora yes. I'd love to work together on 2018 Nodeschools. Please include me in the next planning meeting or let's find time for the two of us to catch up and go from there. I lead developer advocacy efforts for IBM in NYC and I am looking to do more of these types of events as well as "get into open source" types of events. And I am all for partnering with others in making these things happ

[2017-11-30 23:27] gautamarora commented on #27
wonderful @joesepi. I also gathered some folks from the NYJS community that have been past mentors and are looking to step up and help with organizing the events at a regular cadence. I will setup sometime for all of us to connect and plan the 2018 nodeschool events!

[2017-11-30 23:33] gautamarora opened #28 "2018 planning"
Creating this issue to collaborate for the 2018 planning for nodeschool events.

Current co-organizers: @gautamarora @acingraham @evelynStraigt

Folks that have expressed interest in helping *organize* the event:
@joesepi
@oliverlai55
@designMoreWeb

p.s. if you are interested in helping mentor, please create a new issue and I will add you to the mentor list. This issue is to gather more organizer

[2017-11-30 23:35] gautamarora commented on #27
I've started #28 to start discussions for 2018 planning. Closing this with, "Yes, we are still running" :)

[2017-11-30 23:35] #27 closed

[2017-11-30 23:38] gautamarora commented on #22
Closing this for now, we will restart this when the Merge into NodeSchool initiative gains traction.

[2017-11-30 23:38] #22 closed

[2018-01-23 01:23] joesepi commented on #28
Now that the new year has begun, let's get this going? I may be able to provide space, food and some mentors. We have begun doing events under the NYC⚡️DEV banner: https://meetup.com/nycdev
Let me know!

[2018-01-26 22:02] gautamarora commented on #28
@joesepi - yes, certainly! I'm adding @acingraham who will be the point of contact for this.

We've been running these in the past under the NYJS banner:
https://www.meetup.com/NY-JavaScript/

I'll let you and @acingraham figure out next steps.

[2018-01-27 05:25] designMoreWeb commented on #28
Let me know i am interested to help out as well

[2018-02-26 01:05] acingraham commented on #28
Sorry for being so slow to get on this.  We're planning on doing our next nodeschool event at the end of March and every other month going forward.  Would love to start discussing the format and topics we want to cover.

[2018-06-26 20:10] joesepi commented on #28
I'm expecting to have more free time starting in the next few weeks. NodeSchool is one of the things I am thinking about. Please let me know where things stand currently and what if any plans may be in the works. Thanks!!!

[2018-06-27 11:41] gautamarora commented on #28
@joesepi - we were thinking of a nodeschool reboot in a month of two but don't have a concrete plan yet. If you have the time and want to run with it, please go ahead. Let us know how we can support you.

[2018-06-28 21:35] joesepi commented on #28
@guatamarora A month or two might be the right timing as well so let’s just stay in touch and see how things come together. Thanks!!

[2018-09-26 17:13] johnelliott commented on #28
@joesepi @gautamarora @acingraham @evelynStraigt Hello, I am interested in organizing some sessions with a woman I met last night at the Node.js meetup. I have hosted some sessions as part of the Washington, DC Node meetup and I believe she has hosted them in Germany.

The support we'd need might just be a blessing to use this repository or existing web presences to let folks know about an event.

[2018-09-26 18:56] gautamarora commented on #28
Hi @johnelliott - That's great! Please feel free to use this repository to plan the event.

We've previously run the event as part of the [NYJS meetup group ](https://www.meetup.com/NY-JavaScript/) and once you are closer to announcing the event we can work out how we can announce it to our meetup group as well (or cross post the event). If you're looking for mentors, I will be happy to connect yo

[2018-11-12 15:14] bnb commented on #28
Hey @gautamarora!

Now that I live in Brooklyn, would love to get NodeSchool NYC kicked off again. I've talked a bit with @joesepi about it and we'd be happy to tag team this... I can also hopefully pull in a few other node-y people to help mentor.

I'd be super interested to know how the website is maintained and what we'd need to do to help get things kicked off 🙌

[2018-11-12 17:32] designMoreWeb commented on #28
I second to what @bnb says I think we should definitely start from Website and then get started on planning events and how they will be handled and so forth I am not in NY but live in Jersey so coming in and helping with events is never an issue for me personally

[2019-02-12 00:31] bnb opened #29 "Centralizing on GitHub as an organizational tool"
Seems like other NodeSchools have centralized on GitHub as a tool to get more mentors in the door and allow open communication. Any objections to making this a standard for us?

[2019-02-12 01:19] bnb opened #30 "Focused Sessions?"
Something that NodeSchool SF does is Focused Sessions. Here's an example of the upcoming session:

![image](https://user-images.githubusercontent.com/502396/52604185-d3065f80-2e37-11e9-82a3-b749fe76a1f0.png)

The tl;dr is it's a ~3 hour session/workshop. This approach aligns with what @gautamarora suggested of having an additional session on top of the normal NodeSchool workshoppers session to hel

[2019-02-12 22:26] bnb opened #32 "Mentor Registration – March 19th, 2019"
Hey everybody!

![tenor](https://user-images.githubusercontent.com/502396/52672064-b119e500-2eea-11e9-8f3e-91cf990d1fcd.gif)

For our first refreshed event (5pm on March 19th @ [Microsoft](https://goo.gl/maps/akbY3gEoEow)), we're looking for mentors. If this is your first time mentoring and are in doubt, we're sure you can! Just leave us a comment and we'll help you in any way we can.

Mentors sho

[2019-02-13 21:46] bernard-lin commented on #32
Hi! I'd like to be a mentor, but this would be my first time

[2019-02-14 22:08] MylesBorins commented on #32
Hi me please!

[2019-02-16 02:54] bnb commented on #32
Awesome! Added both of you (@bernard-lin and @MylesBorins) to the list of mentors 👍

[2019-02-16 02:55] bnb commented on #32
For what it's worth, if you could please be sure you're registered as an attendee on the Meetup page that would be extremely helpful 👍

[2019-02-16 04:11] bernard-lin commented on #32
I'm registered 🙂

[2019-02-16 20:02] bnb commented on #28
Going to close this for now since we've got 2019 up and running \o/

If you're interested in helping out, please feel free to contribute!

[2019-02-16 20:23] #28 closed

[2019-02-18 00:11] camdunne commented on #32
Hi!! I would love to be a mentor! This would be my first time mentoring 😄

[2019-02-18 04:26] bnb commented on #32
Awesome @camdunne! Would be fantastic to have you as a mentor. I see you've registered for the meetup, will add you to the mentor list 🙌

[2019-02-18 18:05] tom-wagner commented on #32
Hi -- I would like to be a mentor as well! And it would be my first time!

[2019-02-18 18:07] tom-wagner commented on #32
FYI @bnb, the title of this page/issue has the incorrect date. I believe it is Tuesday 3/19 not Saturday 3/16

[2019-02-18 18:32] MylesBorins commented on #32
@bnb I just went to sign up on meetup and got waitlisted

[2019-02-19 13:36] palante commented on #32
Hi, I'd like to be a mentor as well (first time). Signed up for the Meetup waitlist. Looking forward to it -- thanks!

[2019-02-19 20:05] johnelliott commented on #32
Thanks @tom-wagner; updated date and time here.

[2019-02-19 22:12] joesepi commented on #32
I'll mentor as well @bnb 🎉

[2019-02-19 22:59] bfang212 commented on #32
Hi, I'd like to be a mentor as well (first time).

[2019-02-20 00:12] fhinkel commented on #32
So great to have you all as mentors ❤️

@tom-wagner Can you sign up on Meetup as well please. I think I got all other mentors off the waitlist. Let me know if I missed you.

[2019-02-20 15:59] Jun-Yoo commented on #32
Hello, I'd like to be a mentor as well (first time).

[2019-02-21 16:42] designMoreWeb commented on #32
I'll be able to mentor and i have mentored before

[2019-02-22 00:43] jpk1215 commented on #32
Hi I’d like to register. I have experience mentoring at Fullstack Academy. My email is jok1215@gmail.com.

[2019-02-22 00:56] brkwtz commented on #32
i’d love to mentor! i build production microservices in node and teach js for code nation. first time nodeschool person. i’m on nodeschool’s waitlist under brkwtzr at gmail.

[2019-02-23 01:53] amitlzkpa commented on #32
Hi, I'd like to be a mentor as well. I've mentored at CodeNation before.

[2019-03-07 17:14] jpk1215 commented on #32
Hi @fhinkel, checking in to see if the _confirmed mentor_ list is up to date? As of now should I plan on attending as a mentor?

[2019-03-08 11:25] fhinkel commented on #32
Let me check with @bnb

[2019-03-08 17:40] fhinkel commented on #32
@jpk1215, you're confirmed. Thank you!

[2019-03-08 17:42] fhinkel commented on #32
@amitlzkpa Did you sign up on Meetup? I can't find you in the attendee list. Please tell us what your Meetup username is. Thanks!

[2019-03-08 17:42] fhinkel commented on #32
@brkwtz You're confirmed. Thank you!

[2019-03-08 17:44] fhinkel commented on #32
@designMoreWeb You're confirmed, thank you!

[2019-03-08 17:46] fhinkel commented on #32
@bfang212 You're confirmed, thank you!

[2019-03-08 17:48] fhinkel commented on #32
@tom-wagner Did you sign up on Meetup? I can't find you in the attendee list. Please tell us what your Meetup username is. Thanks!

[2019-03-11 14:51] amitlzkpa commented on #32
@fhinkel Just registered on meetup as Amit Nambiar. Thanks.

[2019-03-11 15:12] tom-wagner commented on #32
Hi @fhinkel -- somehow missed this. I am now registered but on the waitlist!

[2019-03-11 17:44] Jun-Yoo commented on #32
@fhinkel I am unsure whether I am confirmed or not yet. I am signed up on Meetup.

[2019-03-17 18:46] tom-wagner commented on #32
Unfortunately have to withdraw as I haven't completed the core workshops -- sorry!

[2019-03-17 19:56] amitlzkpa commented on #32
Hi @fhinkel, checking in to see if the confirmed mentor list is up to date? As of now should I plan on attending as a mentor?

[2019-03-17 20:15] fhinkel commented on #32
@amitlzkpa You're confirmed, thank you.

[2019-03-17 20:16] fhinkel commented on #32
@tom-wagner , OK, no worries, maybe you can mentor next time. See you Tuesday!

[2019-03-17 20:16] fhinkel commented on #32
@Jun-Yoo You're confirmed, thank you!

[2019-03-17 20:17] fhinkel commented on #32
cc @crwilcox

[2019-03-19 16:24] amitlzkpa commented on #32
@fhinkel I'm feeling a little unwell today. I won't be able to make it for today's workshop. Sorry for the last minute cancellation and hope to join for the next one!

[2019-03-23 09:50] fhinkel commented on #32
Thanks everybody for helping!

@amitlzkpa No problem, hope you feel better. See you next time.

[2019-03-23 09:50] #32 closed

[2019-03-23 09:52] fhinkel opened #34 "Mentor registration May 7th"
Hey everybody!

![tenor](https://user-images.githubusercontent.com/502396/52672064-b119e500-2eea-11e9-8f3e-91cf990d1fcd.gif)

For our next event (5pm on May 7th), we're looking for mentors. If this is your first time mentoring and are in doubt, we're sure you can! Just leave us a comment and we'll help you in any way we can.

Mentors should:
- Have already completed the [core NodeSchool workshoppe

[2019-03-23 10:01] fhinkel commented on #30
I like this format. Anybody of for holding a workshop on May 7th?

[2019-03-23 14:40] bernard-lin commented on #34
I'm in!

[2019-05-06 14:57] bernard-lin commented on #34
Just to double check, is this still on for tomorrow?

[2019-05-07 00:50] johnelliott commented on #34
See you all tomorrow :)

[2019-05-10 17:25] joesepi commented on #34
Thanks everyone. It was a great event!

[2019-05-10 17:25] #34 closed

[2019-05-10 17:27] joesepi commented on #30
I think having focused workshops is a great idea. We'd need a location that supports that. If the timing works, we might be able to get space through the IBM Developer NYC team at Galvanize where we could get multiple rooms. Not sure though. It would cost more money for sure...

I could run a serverless workshop or a cloud native Node/JS workshop. Not a 3 hr session but perhaps something around an

[2019-05-14 15:43] bnb commented on #30
Could also run a serverless workshop, a CLI workshop, an Express workshop. With notice I can get two rooms at Microsoft for free if needed 👍

[2019-05-15 15:33] bernard-lin commented on #30
Hey @fhinkel @bnb @johnelliott!

Joe and I were talking more about using Galvanize as a space and I reached out to them since they acquired the bootcamp that many of the mentors and I attended. Seems like they'll just let us have the space for our July meetup but they want to go over more details in a call. These are the times they gave me:

1. tomorrow before 11 am
2. tomorrow 11:30am-2:30pm
3. F

[2019-05-16 16:13] fhinkel commented on #29
We implemented this. Closing.

[2019-05-16 16:13] #29 closed

[2019-05-16 16:15] fhinkel commented on #30
@bernard-lin That would be great! Thanks so much for making introductions.

@bnb and I are speaking at a conference today. But we can probably find a quiet corner to hop on a call tomorrow.

[2019-05-16 16:18] fhinkel commented on #30
July 9th, 5 pm - 9 pm would be our preferred date for the next event. Would Galvanize sponsor soft drinks/water and pizza as well?

[2019-05-16 16:24] fhinkel opened #40 "Mentor registration July 9th"
Hey everybody!

![tenor](https://user-images.githubusercontent.com/502396/52672064-b119e500-2eea-11e9-8f3e-91cf990d1fcd.gif)

For our next event (5pm on July 9th), we're looking for mentors. If this is your first time mentoring and are in doubt, we're sure you can! Just leave us a comment and we'll help you in any way we can.

Mentors should:
- Have already completed the [core NodeSchool workshopp

[2019-05-16 18:34] bernard-lin commented on #40
I'll be there!

[2019-05-24 14:53] amitlzkpa commented on #40
Me too!

[2019-06-19 03:29] taravancil commented on #40
I’m in

[2019-06-26 22:42] bfang212 commented on #40
i'm in

[2019-06-28 19:52] kaicataldo commented on #40
I'm interested in being a mentor!

[2019-07-05 16:47] bnb commented on #40
@bfang212 @kaicataldo added both of you as mentors (in addition to @taravancil, @amitlzkpa,and @bernard-lin who we added a while ago)!

[2019-07-09 15:14] kaicataldo commented on #40
I'm so sorry about the late notice, but I actually seem to be coming down with something and don't think I can make it tonight. I'll definitely try to sign up for the next one!

[2019-07-09 15:29] taravancil commented on #40
^ Also so sorry for the late notice, it's a big launch day at work and I won't be able to attend.

[2019-07-12 00:13] #40 closed

[2019-07-18 22:56] bnb opened #47 "September 10th"
Hey everybody!

![tenor](https://user-images.githubusercontent.com/502396/52672064-b119e500-2eea-11e9-8f3e-91cf990d1fcd.gif)

For our next event (event starts at 6pm on September 10), we're looking for mentors. If this is your first time mentoring and are in doubt, we're sure you can! Just leave us a comment and we'll help you in any way we can.

Mentors should:
- Have already completed the [core

[2019-07-18 23:09] bernard-lin commented on #47
I'll be there!

[2019-07-29 20:38] caiogondim commented on #47
Would love to be a mentor :)

[2019-07-30 20:09] bnb commented on #47
Sounds good. Added both of you!

[2019-09-04 11:59] M0nica opened #52 "questions about package.json"
I ran into a warning with`mustace` being listed in both dependencies and devDependencies and was wondering if both were required.

[code]

The warning was:
```warning package.json: "dependencies" has dependency "mustache" with range "^2.2.1" that collides with a dependency in "devDependencies" of the same name with version "^2.3.0"```.

Also, the README says to run

[code]

but that command is no

[2019-09-04 22:29] johnelliott commented on #52
Hey thanks Monica, It looks like we removed things that weren't strictly needed. I just made a little change to do the readme part.

[2019-09-08 12:30] msolano00 commented on #47
I know it is super late but I just discovered that the NYC chapter was active. If you need mentors I would happily help. I have been a previous mentor of the Costa Rica chapter.

[2019-09-09 15:03] fhinkel commented on #47
@msolano00 Yes please!

[2019-09-10 20:51] bnb commented on #47
@msolano00 if you’re still around we’d be more than happy to have you!

[2019-10-14 15:27] #52 closed

[2021-09-03 13:27] JacopoDaeli commented on #47
@bernard-lin @bnb you can count me as mentor. Plz confirm.

[2021-09-03 15:41] bernard-lin commented on #47
Hi @JacopoDaeli, thanks for volunteering! Unfortunately, we are not currently meeting right now because of the pandemic - this issue was for a meetup back in 2019. Please stay tuned for updates in the future.

[2021-09-03 15:41] #47 closed